<%= div_for post do %>
<div class = "item">
	<span class = "item-number"></span>
	<span class = "item-title"><%= post.title %></span><span class = "item-price"> $ <%= post.price %></span>
	

</div>
<div class = "item-delete">
	<%= link_to "X",  post, method: :delete, class: "btn btn-danger delete-btn" %>
</div>
<% end %>