@import "bootstrap-sprockets";
@import "bootstrap";
h1{
	font-family: 'Indie Flower', cursive;
}

.text-body{
	width:40em;
	height:30em;
	overflow:scroll;
	display:inline-block;
	margin:2em;
	padding:3em;
	font-family: 'PT Serif', serif;
}

.nav{
	text-align:center;
	height:130px;
	width:100%;
	background-color:#f37a4b;
	display:inline-block;

}
.logo{
	font-size:3rem;

}
.new-item-input{
	display:inline;
	top:1rem;
}
.field{
	display:inline;
}
.search-item-input{
	width:45rem;
	border-radius:0.5rem;
	height:4rem;
	font-size:2rem;
	border-style:solid;
}
.add-button{
	height:4rem;
}