@import "bootstrap-sprockets";
@import "bootstrap";
h1{
	font-family: 'Indie Flower', cursive;
}

.text-body{
	width:40em;
	height:30em;
	overflow:scroll;
	display:inline-block;
	margin:2em;
	padding:3em;
	font-family: 'PT Serif', serif;
}
.searchiteminput{
	margin:0 auto;
	width:45rem;
}
.nav{
	text-align:center;
	height:150px;
	width:100%;
	background-color:#f37a4b;

}
.logo{
	font-size:2.5rem;

}
